.gameTitle {
  font-size: 30px;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.copyright {
  color: rgb(185,185,185);
  font-family: 'Inconsolata', monospace;
  text-align: center;
  font-weight: 300;
  margin-top: 2rem;
  letter-spacing: 1px;
  font-size: 15px;
}

.copyright span {
  color: rgb(145,145,145);
}