.settings {
    width: 85%;
    max-width: 450px;
    margin: 0 auto;

    padding: 1rem 2rem;
    font-weight: 400;
}

.settings h2 {
    margin-top: 1rem;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.settings h4 {
    margin-bottom: 0.3rem;
    color: rgba(255, 255, 255, 0.75);
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.setting {
    border-radius: 6px;
    padding: 1rem 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.button {
    padding: 0.75rem 2rem;
    margin: 2rem auto 1.75rem;
    display: flex;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.85);
    background: #00A36C;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 17px;
    letter-spacing: 0.5px;
}

.button:hover {
    transition: all 0.25s ease-in-out;
    background: #08bd80;
    /* box-shadow: 0 7px 20px 0 rgba(0, 1, 10, 0.371); */
}
